<!-- Include the header partial -->
<% include ./_header %>
    
<div class="main_content">
  <ul>
    <li>User index</li>
    <li></li>
  </ul>
</div>

<!-- Include the footer partial -->
<% include ./_footer %>
