<!-- Include the header partial -->
<% title = "User index" %>
<% include ../_header %>
  	
<div class="main_content">
	<ul>
  	<% users.forEach(function(user) { %>
  		<li class="user_link">
	  		<h2><a href="<%= '/users/' + user.id %>"><%= user.get("surname") %></a></h2>
	  		<p><%= formatTime(user.createdAt) %></p>
	  		<p><%= user.get('email') %></p>
  		</li>
    <% }) %>
    </ul>
</div>

<!-- Include the footer partial -->
<% include ../_footer %>
