<!-- Include the header partial -->
<% include ../_header %>
<div class="content">
	<h1>Log in</h1>
	<form action="/login" method="POST" class="login">
		<label for="username">Username
			<input name="username" type="text">
		</label>

		<label for="password">Password
			<input name="password" type="password">
		</label>

		<input type="submit" value="Log in">
	</form>
</div>
<!-- Include the footer partial -->
<% include ../_footer %>
